<p>
    List of regions with feedback count.
</p>
<table>
    <tr>
        <th>№</th>
        <th>Region</th>
        <th>Feedback count</th>
    </tr>
    %(regions)s
</table>

<p>
    List of regions from which more than 2 feedback have been sent.
</p>
<table>
    <tr>
        <th>№</th>
        <th>Region</th>
        <th>Feedback count</th>
    </tr>
    %(regions_filtered)s
</table>

<p>
List of cities with feedback count.
</p>
<table>
    <tr>
        <th>№</th>
        <th>Region</th>
        <th>City</th>
        <th>Feedback count</th>
    </tr>
    %(cities)s
</table>

<p>
    Feedback without indicating the city in the region: %(no_city)s.
</p>